.container-inicio{
    
    height: 500px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 4em;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 450px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
    background-color: #ccc;
    
}

.upper{
    background: #00171F;
    height: 300px;
    width: 30%;
    float: left;
    border-radius: 12px 0px 0px 12px;
    position: relative;
    
}

.upper img {
    display: flex;
    align-items: center;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
    border: 3px solid #000000;
    background-color: #fff;
    transition: opacity 0.4s ease-in-out;
}
.card:hover img.top {
    opacity: 0;
}





.lower{
    
    text-align: center;
    padding: 10px;
}

.lower h2{
    font-size: 22px;
    font-weight: 600;
}

.lower h3{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: #00171F;
}

.lower p{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    padding: 14px 28px;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: lightslategray;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out ;
}

.btn:hover{
    cursor: pointer;
}